//
//  Environment.swift.swift
//  App
//
//  Created by Juli Alonso on 07/04/2020.
//

import Foundation
import Support

final class Environment {
    static let current = Environment()

    let `public`  = ""
    let `private` = ""
    let host: URL = "https://gateway.marvel.com"

    private init() {}
}
